.centered {
  position: absolute;
  top: 40%;
  bottom: 40%;
  left: 0;
  right: 0;
  width: 80%;
  margin: 0 auto;
}

.dropdown-item {
  cursor: pointer;
}

#check-it-out {
  border-radius: 10px;
  height: auto;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 40%;
  margin: 0px;
  padding-right: 16px;
  padding-left: 16px;
}
